/* #region Variables */
/* #endregion */

/* #region Reset */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* #endregion */

/* #region Base */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* #endregion */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* #endregion */

/* #region Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* #endregion */
/* #region Buttons */
.btn {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.btn-hero {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-logo {
  margin-right: 76px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  flex-grow: 1;
  justify-content: space-between;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav-link {
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.hero-title {
  min-width: 496px;
}

/* #endregion */

/* #region Hero */
.hero {
  background: #2e2f42;
  padding: 188px 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  background: #2e2f42;
}

/* #endregion */

/* #region Features */
.feature {
  padding-bottom: 120px 0;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 3 * 24px) / 4) ;
}

.feature-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */

/* #region Team */
.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  gap: 24px;
}

.team-item {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding: 32px 0;
}

.team-title {
  margin: 0 auto;
  min-width: 162px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion */

/* #region Portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  background: #ffffff;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-title {
  min-width: 218px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card {
  background: #ffffff;
}

.portfolio-feature {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */

/* #region Footer */
.footer {
  display: block;
  font-family: inherit;
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion */
